# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.snap
.DS_Store
.local/
.atom/
.buildlog/
.history
.svn/
prime
# act; local github actions
*.secrets
# Android keys file
keys.json
!/public/.env
*.env.local_choreo
*.env.prod
# libolm package
/assets/js/package

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
venv/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Gitlab runner locally
/builds/
.fvm/
.fvmrc
# Web related
docs/tailwind.css

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages


/key.jks
/android/key.properties
/android/app/build/
**/android/app/.cxx
android/key.jks
android/keys.json
android/Gemfile.lock
lib/l10n_old
ios/Flutter/.last_build_id
ios/Podfile.lock
ios/Runner.ipa
scripts/.credentials

/windows/out
/winuwp/out
/linux/out
/macos/out
.vs
olm

needed-translations.txt
.venv

docs/node_modules/.package-lock.json
docs/node_modules/.bin/detect-libc
docs/node_modules/.bin/jiti
docs/node_modules/.bin/tailwindcss
docs/node_modules/@parcel/watcher/binding.gyp
docs/node_modules/@parcel/watcher/index.d.ts
docs/node_modules/@parcel/watcher/index.js
docs/node_modules/@parcel/watcher/index.js.flow
docs/node_modules/@parcel/watcher/LICENSE
docs/node_modules/@parcel/watcher/package.json
docs/node_modules/@parcel/watcher/README.md
docs/node_modules/@parcel/watcher/wrapper.js
docs/node_modules/@parcel/watcher/scripts/build-from-source.js
docs/node_modules/@parcel/watcher/src/Backend.cc
docs/node_modules/@parcel/watcher/src/Backend.hh
docs/node_modules/@parcel/watcher/src/binding.cc
docs/node_modules/@parcel/watcher/src/Debounce.cc
docs/node_modules/@parcel/watcher/src/Debounce.hh
docs/node_modules/@parcel/watcher/src/DirTree.cc
docs/node_modules/@parcel/watcher/src/DirTree.hh
docs/node_modules/@parcel/watcher/src/Event.hh
docs/node_modules/@parcel/watcher/src/Glob.cc
docs/node_modules/@parcel/watcher/src/Glob.hh
docs/node_modules/@parcel/watcher/src/PromiseRunner.hh
docs/node_modules/@parcel/watcher/src/Signal.hh
docs/node_modules/@parcel/watcher/src/Watcher.cc
docs/node_modules/@parcel/watcher/src/Watcher.hh
docs/node_modules/@parcel/watcher/src/kqueue/KqueueBackend.cc
docs/node_modules/@parcel/watcher/src/kqueue/KqueueBackend.hh
docs/node_modules/@parcel/watcher/src/linux/InotifyBackend.cc
docs/node_modules/@parcel/watcher/src/linux/InotifyBackend.hh
docs/node_modules/@parcel/watcher/src/macos/FSEventsBackend.cc
docs/node_modules/@parcel/watcher/src/macos/FSEventsBackend.hh
docs/node_modules/@parcel/watcher/src/shared/BruteForceBackend.cc
docs/node_modules/@parcel/watcher/src/shared/BruteForceBackend.hh
docs/node_modules/@parcel/watcher/src/unix/fts.cc
docs/node_modules/@parcel/watcher/src/unix/legacy.cc
docs/node_modules/@parcel/watcher/src/wasm/include.h
docs/node_modules/@parcel/watcher/src/wasm/WasmBackend.cc
docs/node_modules/@parcel/watcher/src/wasm/WasmBackend.hh
docs/node_modules/@parcel/watcher/src/watchman/BSER.cc
docs/node_modules/@parcel/watcher/src/watchman/BSER.hh
docs/node_modules/@parcel/watcher/src/watchman/IPC.hh
docs/node_modules/@parcel/watcher/src/watchman/WatchmanBackend.cc
docs/node_modules/@parcel/watcher/src/watchman/WatchmanBackend.hh
docs/node_modules/@parcel/watcher/src/windows/win_utils.cc
docs/node_modules/@parcel/watcher/src/windows/win_utils.hh
docs/node_modules/@parcel/watcher/src/windows/WindowsBackend.cc
docs/node_modules/@parcel/watcher/src/windows/WindowsBackend.hh
docs/node_modules/@parcel/watcher-linux-x64-glibc/LICENSE
docs/node_modules/@parcel/watcher-linux-x64-glibc/package.json
docs/node_modules/@parcel/watcher-linux-x64-glibc/README.md
docs/node_modules/@parcel/watcher-linux-x64-glibc/watcher.node
docs/node_modules/@tailwindcss/cli/LICENSE
docs/node_modules/@tailwindcss/cli/package.json
docs/node_modules/@tailwindcss/cli/README.md
docs/node_modules/@tailwindcss/cli/dist/index.mjs
docs/node_modules/@tailwindcss/node/LICENSE
docs/node_modules/@tailwindcss/node/package.json
docs/node_modules/@tailwindcss/node/README.md
docs/node_modules/@tailwindcss/node/dist/esm-cache.loader.d.mts
docs/node_modules/@tailwindcss/node/dist/esm-cache.loader.mjs
docs/node_modules/@tailwindcss/node/dist/index.d.mts
docs/node_modules/@tailwindcss/node/dist/index.d.ts
docs/node_modules/@tailwindcss/node/dist/index.js
docs/node_modules/@tailwindcss/node/dist/index.mjs
docs/node_modules/@tailwindcss/node/dist/require-cache.d.ts
docs/node_modules/@tailwindcss/node/dist/require-cache.js
docs/node_modules/@tailwindcss/oxide/index.d.ts
docs/node_modules/@tailwindcss/oxide/index.js
docs/node_modules/@tailwindcss/oxide/LICENSE
docs/node_modules/@tailwindcss/oxide/package.json
docs/node_modules/@tailwindcss/oxide-linux-x64-gnu/LICENSE
docs/node_modules/@tailwindcss/oxide-linux-x64-gnu/package.json
docs/node_modules/@tailwindcss/oxide-linux-x64-gnu/README.md
docs/node_modules/@tailwindcss/oxide-linux-x64-gnu/tailwindcss-oxide.linux-x64-gnu.node
docs/node_modules/braces/index.js
docs/node_modules/braces/LICENSE
docs/node_modules/braces/package.json
docs/node_modules/braces/README.md
docs/node_modules/braces/lib/compile.js
docs/node_modules/braces/lib/constants.js
docs/node_modules/braces/lib/expand.js
docs/node_modules/braces/lib/parse.js
docs/node_modules/braces/lib/stringify.js
docs/node_modules/braces/lib/utils.js
docs/node_modules/detect-libc/.npmignore
docs/node_modules/detect-libc/LICENSE
docs/node_modules/detect-libc/package.json
docs/node_modules/detect-libc/README.md
docs/node_modules/detect-libc/bin/detect-libc.js
docs/node_modules/detect-libc/lib/detect-libc.js
docs/node_modules/enhanced-resolve/LICENSE
docs/node_modules/enhanced-resolve/package.json
docs/node_modules/enhanced-resolve/README.md
docs/node_modules/enhanced-resolve/types.d.ts
docs/node_modules/enhanced-resolve/lib/AliasFieldPlugin.js
docs/node_modules/enhanced-resolve/lib/AliasPlugin.js
docs/node_modules/enhanced-resolve/lib/AppendPlugin.js
docs/node_modules/enhanced-resolve/lib/CachedInputFileSystem.js
docs/node_modules/enhanced-resolve/lib/CloneBasenamePlugin.js
docs/node_modules/enhanced-resolve/lib/ConditionalPlugin.js
docs/node_modules/enhanced-resolve/lib/createInnerContext.js
docs/node_modules/enhanced-resolve/lib/DescriptionFilePlugin.js
docs/node_modules/enhanced-resolve/lib/DescriptionFileUtils.js
docs/node_modules/enhanced-resolve/lib/DirectoryExistsPlugin.js
docs/node_modules/enhanced-resolve/lib/ExportsFieldPlugin.js
docs/node_modules/enhanced-resolve/lib/ExtensionAliasPlugin.js
docs/node_modules/enhanced-resolve/lib/FileExistsPlugin.js
docs/node_modules/enhanced-resolve/lib/forEachBail.js
docs/node_modules/enhanced-resolve/lib/getInnerRequest.js
docs/node_modules/enhanced-resolve/lib/getPaths.js
docs/node_modules/enhanced-resolve/lib/ImportsFieldPlugin.js
docs/node_modules/enhanced-resolve/lib/index.js
docs/node_modules/enhanced-resolve/lib/JoinRequestPartPlugin.js
docs/node_modules/enhanced-resolve/lib/JoinRequestPlugin.js
docs/node_modules/enhanced-resolve/lib/LogInfoPlugin.js
docs/node_modules/enhanced-resolve/lib/MainFieldPlugin.js
docs/node_modules/enhanced-resolve/lib/ModulesInHierachicDirectoriesPlugin.js
docs/node_modules/enhanced-resolve/lib/ModulesInHierarchicalDirectoriesPlugin.js
docs/node_modules/enhanced-resolve/lib/ModulesInRootPlugin.js
docs/node_modules/enhanced-resolve/lib/NextPlugin.js
docs/node_modules/enhanced-resolve/lib/ParsePlugin.js
docs/node_modules/enhanced-resolve/lib/PnpPlugin.js
docs/node_modules/enhanced-resolve/lib/Resolver.js
docs/node_modules/enhanced-resolve/lib/ResolverFactory.js
docs/node_modules/enhanced-resolve/lib/RestrictionsPlugin.js
docs/node_modules/enhanced-resolve/lib/ResultPlugin.js
docs/node_modules/enhanced-resolve/lib/RootsPlugin.js
docs/node_modules/enhanced-resolve/lib/SelfReferencePlugin.js
docs/node_modules/enhanced-resolve/lib/SymlinkPlugin.js
docs/node_modules/enhanced-resolve/lib/SyncAsyncFileSystemDecorator.js
docs/node_modules/enhanced-resolve/lib/TryNextPlugin.js
docs/node_modules/enhanced-resolve/lib/UnsafeCachePlugin.js
docs/node_modules/enhanced-resolve/lib/UseFilePlugin.js
docs/node_modules/enhanced-resolve/lib/util/entrypoints.js
docs/node_modules/enhanced-resolve/lib/util/identifier.js
docs/node_modules/enhanced-resolve/lib/util/module-browser.js
docs/node_modules/enhanced-resolve/lib/util/path.js
docs/node_modules/enhanced-resolve/lib/util/process-browser.js
docs/node_modules/fill-range/index.js
docs/node_modules/fill-range/LICENSE
docs/node_modules/fill-range/package.json
docs/node_modules/fill-range/README.md
docs/node_modules/graceful-fs/clone.js
docs/node_modules/graceful-fs/graceful-fs.js
docs/node_modules/graceful-fs/legacy-streams.js
docs/node_modules/graceful-fs/LICENSE
docs/node_modules/graceful-fs/package.json
docs/node_modules/graceful-fs/polyfills.js
docs/node_modules/graceful-fs/README.md
docs/node_modules/is-extglob/index.js
docs/node_modules/is-extglob/LICENSE
docs/node_modules/is-extglob/package.json
docs/node_modules/is-extglob/README.md
docs/node_modules/is-glob/index.js
docs/node_modules/is-glob/LICENSE
docs/node_modules/is-glob/package.json
docs/node_modules/is-glob/README.md
docs/node_modules/is-number/index.js
docs/node_modules/is-number/LICENSE
docs/node_modules/is-number/package.json
docs/node_modules/is-number/README.md
docs/node_modules/jiti/LICENSE
docs/node_modules/jiti/package.json
docs/node_modules/jiti/README.md
docs/node_modules/jiti/dist/babel.cjs
docs/node_modules/jiti/dist/jiti.cjs
docs/node_modules/jiti/lib/jiti-cli.mjs
docs/node_modules/jiti/lib/jiti-hooks.mjs
docs/node_modules/jiti/lib/jiti-native.mjs
docs/node_modules/jiti/lib/jiti-register.d.mts
docs/node_modules/jiti/lib/jiti-register.mjs
docs/node_modules/jiti/lib/jiti.cjs
docs/node_modules/jiti/lib/jiti.d.cts
docs/node_modules/jiti/lib/jiti.d.mts
docs/node_modules/jiti/lib/jiti.mjs
docs/node_modules/jiti/lib/types.d.ts
docs/node_modules/lightningcss/LICENSE
docs/node_modules/lightningcss/package.json
docs/node_modules/lightningcss/README.md
docs/node_modules/lightningcss/node/ast.d.ts
docs/node_modules/lightningcss/node/ast.js.flow
docs/node_modules/lightningcss/node/browserslistToTargets.js
docs/node_modules/lightningcss/node/composeVisitors.js
docs/node_modules/lightningcss/node/flags.js
docs/node_modules/lightningcss/node/index.d.ts
docs/node_modules/lightningcss/node/index.js
docs/node_modules/lightningcss/node/index.js.flow
docs/node_modules/lightningcss/node/index.mjs
docs/node_modules/lightningcss/node/targets.d.ts
docs/node_modules/lightningcss/node/targets.js.flow
docs/node_modules/lightningcss-linux-x64-gnu/LICENSE
docs/node_modules/lightningcss-linux-x64-gnu/lightningcss.linux-x64-gnu.node
docs/node_modules/lightningcss-linux-x64-gnu/package.json
docs/node_modules/lightningcss-linux-x64-gnu/README.md
docs/node_modules/micromatch/index.js
docs/node_modules/micromatch/LICENSE
docs/node_modules/micromatch/package.json
docs/node_modules/micromatch/README.md
docs/node_modules/mri/index.d.ts
docs/node_modules/mri/license.md
docs/node_modules/mri/package.json
docs/node_modules/mri/readme.md
docs/node_modules/mri/lib/index.js
docs/node_modules/mri/lib/index.mjs
docs/node_modules/node-addon-api/common.gypi
docs/node_modules/node-addon-api/except.gypi
docs/node_modules/node-addon-api/index.js
docs/node_modules/node-addon-api/LICENSE.md
docs/node_modules/node-addon-api/napi-inl.deprecated.h
docs/node_modules/node-addon-api/napi-inl.h
docs/node_modules/node-addon-api/napi.h
docs/node_modules/node-addon-api/node_addon_api.gyp
docs/node_modules/node-addon-api/node_api.gyp
docs/node_modules/node-addon-api/noexcept.gypi
docs/node_modules/node-addon-api/nothing.c
docs/node_modules/node-addon-api/package-support.json
docs/node_modules/node-addon-api/package.json
docs/node_modules/node-addon-api/README.md
docs/node_modules/node-addon-api/tools/check-napi.js
docs/node_modules/node-addon-api/tools/clang-format.js
docs/node_modules/node-addon-api/tools/conversion.js
docs/node_modules/node-addon-api/tools/eslint-format.js
docs/node_modules/node-addon-api/tools/README.md
docs/node_modules/picocolors/LICENSE
docs/node_modules/picocolors/package.json
docs/node_modules/picocolors/picocolors.browser.js
docs/node_modules/picocolors/picocolors.d.ts
docs/node_modules/picocolors/picocolors.js
docs/node_modules/picocolors/README.md
docs/node_modules/picocolors/types.d.ts
docs/node_modules/picomatch/CHANGELOG.md
docs/node_modules/picomatch/index.js
docs/node_modules/picomatch/LICENSE
docs/node_modules/picomatch/package.json
docs/node_modules/picomatch/README.md
docs/node_modules/picomatch/lib/constants.js
docs/node_modules/picomatch/lib/parse.js
docs/node_modules/picomatch/lib/picomatch.js
docs/node_modules/picomatch/lib/scan.js
docs/node_modules/picomatch/lib/utils.js
docs/node_modules/tailwindcss/index.css
docs/node_modules/tailwindcss/LICENSE
docs/node_modules/tailwindcss/package.json
docs/node_modules/tailwindcss/preflight.css
docs/node_modules/tailwindcss/README.md
docs/node_modules/tailwindcss/theme.css
docs/node_modules/tailwindcss/utilities.css
docs/node_modules/tailwindcss/dist/chunk-AZANAYY2.mjs
docs/node_modules/tailwindcss/dist/chunk-CH45MXZF.mjs
docs/node_modules/tailwindcss/dist/chunk-V2K3XTS4.mjs
docs/node_modules/tailwindcss/dist/colors-b_6i0Oi7.d.ts
docs/node_modules/tailwindcss/dist/colors.d.mts
docs/node_modules/tailwindcss/dist/colors.d.ts
docs/node_modules/tailwindcss/dist/colors.js
docs/node_modules/tailwindcss/dist/colors.mjs
docs/node_modules/tailwindcss/dist/default-theme.d.mts
docs/node_modules/tailwindcss/dist/default-theme.d.ts
docs/node_modules/tailwindcss/dist/default-theme.js
docs/node_modules/tailwindcss/dist/default-theme.mjs
docs/node_modules/tailwindcss/dist/flatten-color-palette.d.mts
docs/node_modules/tailwindcss/dist/flatten-color-palette.d.ts
docs/node_modules/tailwindcss/dist/flatten-color-palette.js
docs/node_modules/tailwindcss/dist/flatten-color-palette.mjs
docs/node_modules/tailwindcss/dist/lib.d.mts
docs/node_modules/tailwindcss/dist/lib.d.ts
docs/node_modules/tailwindcss/dist/lib.js
docs/node_modules/tailwindcss/dist/lib.mjs
docs/node_modules/tailwindcss/dist/plugin.d.mts
docs/node_modules/tailwindcss/dist/plugin.d.ts
docs/node_modules/tailwindcss/dist/plugin.js
docs/node_modules/tailwindcss/dist/plugin.mjs
docs/node_modules/tailwindcss/dist/resolve-config-BIFUA2FY.d.ts
docs/node_modules/tailwindcss/dist/resolve-config-QUZ9b-Gn.d.mts
docs/node_modules/tailwindcss/dist/types-B254mqw1.d.mts
docs/node_modules/tapable/LICENSE
docs/node_modules/tapable/package.json
docs/node_modules/tapable/README.md
docs/node_modules/tapable/tapable.d.ts
docs/node_modules/tapable/lib/AsyncParallelBailHook.js
docs/node_modules/tapable/lib/AsyncParallelHook.js
docs/node_modules/tapable/lib/AsyncSeriesBailHook.js
docs/node_modules/tapable/lib/AsyncSeriesHook.js
docs/node_modules/tapable/lib/AsyncSeriesLoopHook.js
docs/node_modules/tapable/lib/AsyncSeriesWaterfallHook.js
docs/node_modules/tapable/lib/Hook.js
docs/node_modules/tapable/lib/HookCodeFactory.js
docs/node_modules/tapable/lib/HookMap.js
docs/node_modules/tapable/lib/index.js
docs/node_modules/tapable/lib/MultiHook.js
docs/node_modules/tapable/lib/SyncBailHook.js
docs/node_modules/tapable/lib/SyncHook.js
docs/node_modules/tapable/lib/SyncLoopHook.js
docs/node_modules/tapable/lib/SyncWaterfallHook.js
docs/node_modules/tapable/lib/util-browser.js
docs/node_modules/to-regex-range/index.js
docs/node_modules/to-regex-range/LICENSE
docs/node_modules/to-regex-range/package.json
docs/node_modules/to-regex-range/README.md
docs/package.json
docs/package-lock.json
