---
name: "\U0001F4DD Test"
about: A detailed protocol for testing all features
title: Test Report
labels: ''
assignees: ''

---

1. App receives push notifications over Firebase Cloud Messaging when it is in background/terminated:
	- [ ] Android
	- [ ] iOS
2. App receives push notifications over Unified Push when it is in background/terminated:
	- [ ] Android
3. Notifications for rooms, which are not in foreground, are working:
	- [ ] Web
	- [ ] Linux
4. QR Code scanner can still scan links to start a new chat:
	- [ ] Android
	- [ ] iOS
5. Recording and playing voice messages works:
	- [ ] Android
	- [ ] iOS
	- [ ] Web (play only)
6. Sending and downloading files/images works:
	- [ ] Android
	- [ ] iOS
	- [ ] Web
	- [ ] Linux
7. Sharing texts/files/images from other apps to FluffyChat works:
	- [ ] Android
	- [ ] iOS
8. Login with single sign on works:
	- [ ] Android
	- [ ] iOS
	- [ ] Web
	- [ ] Linux
9. Test if the app lock works as intended and appears on opening/resuming the app:
	- [ ] Android
	- [ ] iOS
10. Drag&Drop to send a file into a chat still works:
	- [ ] Web
	- [ ] Linux
