[Desktop Entry]
Type=Application
Version=1.0
Name=Hermes
Comment=Matrix Client. Chat with your friends
Exec=AppRun
Icon=hermes
Terminal=false
Categories=Network;Chat;InstantMessaging;X-Matrix;