[Desktop Entry]
Name=Aerogram
GenericName=Matrix Client
Comment=Chat with your friends
Exec=aerogram
Icon=${SNAP}/meta/gui/aerogram.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
