[Desktop Entry]
Name=FluffyChat
GenericName=Matrix Client
Comment=Chat with your friends
Exec=fluffychat
Icon=${SNAP}/meta/gui/fluffychat.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
