[Desktop Entry]
Name=Tawkie
GenericName=Matrix Client
Comment=Chat with your friends
Exec=tawkie
Icon=${SNAP}/meta/gui/tawkie.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
