[Desktop Entry]
Name=Hermes
GenericName=Matrix Client
Comment=Chat with your friends
Exec=hermes
Icon=${SNAP}/meta/gui/hermes.png
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
